h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
	float: left;
	position: fixed;
    left: 160px;
    margin: 0px;
    padding: 29px;
    height: 40px;
    top: 0px;
    color: white;

}


h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin: 0px 10px 10px 10px;
    /* float: left; */
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

   
.separator {
    margin: 2px 0;
    margin-top: 3px;
    height: 2px;
    opacity: .5;
    background: #182126;
}   

.about-me {
    background-color: white;
    border: 1px solid gray;
    width: 53%;
    padding: 20px;
    /* margin-left: 20px; */
    float: left;
    margin: 30px 30px 30px 30px;
	
}

.social-media {
    background-color: white;
    float: right;
    position: fixed;
    left: 63%;
    /* top: 143px; */
    padding: 20px;
    margin-top: 30px;
    width: 30%;
}

.background	{
	background-image: url(../images/zigzagwool.png);
    height: 900px;
    position: fixed;
    width: 100%;

}

header {
    background: white;
    width: 100%;
    height: 90px;
    border-bottom: 3px gray;
} 


p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 27px;

}

img {
	width: 75px;
	height: 75px;
    margin: 20px 20px 10px 0px;
}

.profile {
	width: 200px;
	height: 200px;
	float: left;
	position: relative;
}

li {
    float: left;
    list-style: none;
    border-right: 1px solid gray;
    padding: 0px 30px 0px 30px;

}

ul {
    position: fixed;
    width: 370px;
    right: 35px;
    top: 26px;

}


input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.containerb {
  position: relative;
  width: 50%;
  float: left;
  overflow: scroll;
}

.imageb {
  display: block;
  width: 100%;
  height: auto;
}

.overlayb {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
 }

.containerb:hover .overlayb {
  opacity: .8;
}

.textb {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}